

.an-sp-wrapper{
    background-image: linear-gradient(to right,#8BBCF9,#BFDBFE);
    padding: 2vw 3vw;
  }
  
  
  .an-sp-head-one{
      font-family: 'Times New Roman', Times, serif;
      font-size: 1.23vw;
      color: #172554;
  }
  .an-sp-head-two{
      font-family: 'Times New Roman', Times, serif;
      font-size: 2.5vw;
      color: #172554;
      font-size: 2.45vw;
      
  }
  
  .an-sp-head-two span{
      position: relative;
  }
  
  .an-sp-head-two span:before{
      position: absolute;
      content: "";
      left: 0px;
      right: 0px;
      bottom: -0.2vw;
      border: 0.12vw solid  #172554;;
  }
  
  .an-sp-card-wrapper{
    display: flex;
    flex: wrap;
    margin-top: 2vw;
    gap: 2vw;
    justify-content: center;
  }
  
  .an-sp-card-left{
    width: 30%;
    background-color: #FFFFFF;
  }
  .an-sp-card-middle{
    width: 30%;
    background-color:#FFFFFF
  }
  .an-sp-card-right{
  
    width: 19%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .an-sp-card-left-head{
    color: #FFFFFF;
    background-color: #243CBD;
    font-size: 1.03vw;
    font-weight: 700;
    padding: 0.6vw;
    
  }
  
  .an-sp-card-middle-head{
    color: #FFFFFF;
    background-color: #EDBF08;
    font-size:  1.03vw;
    font-weight: 700;
    padding: 0.6vw;
  }
  
  .an-sp-card-content{
    text-align: left;
    color: #666666;
    font-size: 1vw;
    font-weight: 450;
  
  }

  .an-sp-card-content ul{
    padding:  0 4vw;
  
  }
  
  .an-sp-card-right-first{
    background-color:#FFFFFF;
    margin-bottom: 1vw;
    
    
  }
  
  .an-sp-card-right-second{
    background-color:#FFFFFF;
    margin-bottom: 1vw;
  }
  .an-sp-card-right-third{
    background-color:#FFFFFF;
    
  }
  
  
  .an-sp-card-right-first-head{
    background-color:#008BF9;
    font-size:  1.03vw;
    font-weight: 700;
    padding: 0.6vw;
    color: #FFFFFF;
  }
  .an-sp-card-right-second-head{
    background-color:#835EEC;
    font-size:  1.03vw;
    font-weight: 700;
    padding: 0.6vw;
    color: #FFFFFF;
  }
  .an-sp-card-right-third-head{
    background-color:#FC784F;
    font-size:  1.03vw;
    font-weight: 700;
    padding: 0.6vw;
    color: #FFFFFF;
  }
  .an-sp-card-content li{
   margin: 0.9vw 0vw;
  }
  /* li::marker{
    font-size: 6px !important;
    vertical-align: middle;
  }  */
  
  .an-sp-card-left-img-wrapper{
    width: 97%;
    height: 15vw;
    margin: 0.3vw auto;
   
  }
  
  
   .an-sp-card-left-img{
    width: 100%;
    height: 15vw;
   
   }
  .an-sp-card-left-img img{
    width: 100%;
    height: 100%;
    
  }
  
  @media screen and (min-width: 1500px) {
    .an-sp-head-one{
        
        font-size: 18px;
        
    }
    .an-sp-head-two{   
     font-size: 36px;
        
    }

    .an-sp-head-two span:before{
        position: absolute;
        content: "";
        left: 0px;
        right: 0px;
        bottom: -1.5px;
        border: 1px solid  #172554;;
    }

    .an-sp-card-wrapper{
        display: flex;
        margin-top: 20px;
        gap: 35px;
        justify-content: center;
      }

      .an-sp-card-left{
        width: 450px;
     
      }
      .an-sp-card-middle{
        width: 450px;
       
      }
      .an-sp-card-right{
      
        width: 290px;
        
        /* justify-content: stretch; */
      }

      .an-sp-card-left-head{
       
        font-size: 18px;
        font-weight: 700;
        padding: 8px;
        
      }
      
      .an-sp-card-middle-head{

        font-size: 18px;
        font-weight: 700;
        padding: 8px;
      }

      .an-sp-card-content{
      
        font-size: 14px;
      }

      .an-sp-card-right-first{
      
        margin-bottom: 10px;
        
        
      }
      
      .an-sp-card-right-second{
     
        margin-bottom: 10px;
      }



      
      .an-sp-card-right-first-head{
       
        font-size:  14px;
        padding: 8px;
      
      }
      .an-sp-card-right-second-head{
        font-size:  14px;
        padding: 8px;
      }
      .an-sp-card-right-third-head{
        font-size:  14px;
        padding: 8px;
      }

      .an-sp-card-content li{
        margin: 12px 0px;
       }
       /* li::marker{
         font-size: 6px !important;
         vertical-align: middle;
       }  */
       
       .an-sp-card-left-img-wrapper{
         width: 97%;
         /* aspect-ratio: 7/3; */
         height: auto;
         margin: 6px auto;
        
       }
       
       
        .an-sp-card-left-img{
         width: 100%;
         height: 100%;
         aspect-ratio: 5/3;
        
        }
       .an-sp-card-left-img img{
         width: 100%;
         height: 100%;
         
       }
  }

  @media screen and (max-width: 768px){
    
    .an-sp-card-wrapper{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 2vw;
      gap: 2vw;
      justify-content: center;
    }
    
    .an-sp-card-left{
      width: 40%;
      background-color: #FFFFFF;
    }
    .an-sp-card-middle{
      width: 40%;
      background-color:#FFFFFF
    }
    .an-sp-card-right{
    
      width: 82%;
      display: flex;
      flex-direction: row;
      align-items: stretch;
      gap:10px

      }
   

      .an-sp-card-right-first{
        background-color:#FFFFFF;
        margin-bottom: 0;
        width: 33%;
        
        
      }
      
      .an-sp-card-right-second{
        background-color:#FFFFFF;
        margin-bottom: 0;
        width: 33%;
      }
      .an-sp-card-right-third{
        background-color:#FFFFFF;
        width: 33%;
        
      }

    
    
  }